p {
    color: blue;
    font-size: 30px;
}
h2 {
    color: #4B9DED;
    font-size: 20px;
}
h1 {
    color: #4BED9B;
    font-size: 30px;
}
body {
    background-color: #F4E2E3;
}
.center {
  text-align: center;
}
.error {
    color: #C70039;
}
.table {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}
.table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav li {
    display: inline;
}
ul.nav a {
     display: inline-block;
     width: 5em;
     padding:10px;
     background-color: #f4f4f4;
     border: 1px dashed #333;
     text-decoration: none;
     color: #333;
     text-align: center;
}
ul.nav a:hover{
     background-color: #333;
     color: #f4f4f4;
}