p {
    color: blue;
    font-size: 30px;
}
h2 {
    color: #4B9DED;
    font-size: 20px;
}
h1 {
    color: #4BED9B;
    font-size: 30px;
}
body {
    background-color: #F4E2E3;
}
.center {
  text-align: center;
}